
.navbar-title {
	font-family: 'Rockwell';
	text-shadow: 4px 4px #0f0d0d;
	font-size: 18px;
}

.navbar-items {
	color: rgb(230, 230, 230) !important;
}


body {
	font-family: rockwell;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
	margin-top: 4%;
	background: repeating-linear-gradient(to right, rgb(227, 226, 226) 0px, rgb(227, 226, 226) 20px, rgb(210, 210, 210) 20px, rgb(210, 210, 210) 40px);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    background-color: white;
    padding: 25px;
    min-width: 400px;
	max-width: 600px;
    border-radius: 10px;
}

.bill-list {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-start;
    width: 70%;
    background-color: rgb(169, 169, 169);
    padding: 10px;
	max-width: 800px;
    border-radius: 10px;
	opacity: 0.8;
    font-size: 5px;
}

.occupied{
	background-color: rgba(255, 255, 255, 0.822);
}

#bills{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

td {
	padding: 1px !important;
}

.tableCenter{
	text-align: center;
}

#goTable{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
	margin-top: 80px;
}

.seats{
	height:30px;
	width:30px;
	background-color: white;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
	padding-top: 5px;
	opacity: 0.75;
	margin: 5px;
}

@media only screen and (min-width: 768px) {
	.bill-list{ width:30vw}
  }
  @media only screen and (min-width: 1024px) {
	.bill-list{ width:20vw}
  }
  @media only screen and (min-width: 1440px) {
	.bill-list{ width:18vw}
  }



  #myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(96, 96, 96);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }