
.navbar-title {
	font-family: 'Rockwell';
	text-shadow: 4px 4px #0f0d0d;
	font-size: 18px;
}

.navbar-items {
	color: rgb(230, 230, 230) !important;
}

body {
	font-family: rockwell;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
	margin-top: 4%;
	background: repeating-linear-gradient(to right, rgb(227, 226, 226) 0px, rgb(227, 226, 226) 20px, rgb(210, 210, 210) 20px, rgb(210, 210, 210) 40px);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    background-color: white;
    padding: 25px;
    min-width: 400px;
	max-width: 600px;
    border-radius: 10px;
}

.staff-list {
	margin: auto;
    width: 70%;
    background-color: white;
    padding: 25px;
	max-width: 800px;
    border-radius: 10px;
}