.photo{
	max-width: 200px;
	max-height:200px
}

.menuBackground {
	background-color: white;
	padding: 30px;
	width: 70%;
	opacity: 0.75;
	margin: auto;
	border-radius: 15px;
}

.menuitemtablebg {
	background-color: white;
	padding: 30px;
	width: 70%;
	opacity: 0.75;
	margin: auto;
	border-radius: 15px;
	min-width: 500px;
}

#Container{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.navbar-title {
	font-family: 'Rockwell';
	text-shadow: 4px 4px #0f0d0d;
	font-size: 18px;
}

.navbar-items {
	color: rgb(230, 230, 230) !important;
}

body {
	font-family: rockwell;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
	margin-top: 4%;
	color: rgb(79, 79, 79);
	background: repeating-linear-gradient(to right, rgb(227, 226, 226) 0px, rgb(227, 226, 226) 20px, rgb(210, 210, 210) 20px, rgb(210, 210, 210) 40px);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    background-color: white;
    padding: 30px;
    min-width: 400px;
	max-width: 600px;
    border-radius: 10px;
}

.item-center {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    background-color: white;
    padding: 10px;
    min-width: 400px;
	max-width: 600px;
    border-radius: 10px;
}
