.seatContainer{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	border-radius: 15px;
}

.seatsEmpty{
	height:100px;
	width:100px;
	background-color: white;
	font-size: 50px;
	border-radius: 15px;
	text-align: center;
	padding-top: 20px;
	opacity: 0.75;
	margin: 10px;
}

.seatsOccupied{
	height:100px;
	width:100px;
	background-color: white;
	font-size: 50px;
	border-radius: 15px;
	text-align: center;
	padding-top: 20px;
	opacity: 0.3;
	margin: 10px;
}

.seatsMayOccupied{
	height:100px;
	width:100px;
	background-color: grey;
	font-size: 50px;
	border-radius: 15px;
	text-align: center;
	padding-top: 20px;
	opacity: 0.6;
	margin: 10px;
}

.navbar-title {
	font-family: 'Rockwell';
	text-shadow: 4px 4px #0f0d0d;
	font-size: 18px;
}

.navbar-items {
	color: rgb(230, 230, 230) !important;
}

body {
	font-family: rockwell;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
	margin-top: 4%;
	background: repeating-linear-gradient(to right, rgb(227, 226, 226) 0px, rgb(227, 226, 226) 20px, rgb(210, 210, 210) 20px, rgb(210, 210, 210) 40px);
}

.inner-text {
	font-size: xx-large;
	text-align: center;
}

.center {
    margin: auto;
	margin-bottom: 30px;
    width: 80%;
    border: 3px solid grey;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.input-box {
	width: 300px;
}

.qrcode {
	margin: auto;
}
