.center {
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
  }

  .greybg {
    background-color: rgb(233, 233, 233);
  }

  .whitebg {
    background-color: white;
  }

  .fixed {
    position: fixed;
    width: 50%;
    bottom: 10px;
  } 

  .navbar-title {
    font-family: 'Rockwell';
    text-shadow: 4px 4px #0f0d0d;
    font-size: 18px;
  }  

  .navbar-items {
    color: rgb(230, 230, 230) !important;
  }
  
  body {
    font-family: rockwell;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-top: 4%;
    color: rgb(79, 79, 79);
    background: repeating-linear-gradient(to right, rgb(227, 226, 226) 0px, rgb(227, 226, 226) 20px, rgb(210, 210, 210) 20px, rgb(210, 210, 210) 40px);
  }

  :root {
    touch-action: pan-x pan-y;
    height: 100% 
  }