
.menu-item-quantity {
    width: 100px;
    text-align: center;
}

.menu-item-button {
    font-size: 1.5em;
    color: grey;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(208, 205, 205);
    color: white;
    text-align: center;
 }

 .card {
    border-radius: 15px !important;
    padding: 10px;
    opacity: 0.85;
    margin-top: 20px;
    margin-left: 0px;
    min-width : 330px;
    max-width: 330px;
  }

 .photo{
    min-width : 300px;
    max-height : 300px;
}