.container{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	border-radius: 15px;
	}

.seats{
	height:100px;
	width:100px;
	background-color: white;
	font-size: 50px;
	border-radius: 15px;
	text-align: center;
	padding-top: 20px;
	opacity: 0.75;
	margin: 10px;
}

.navbar-title {
	font-family: 'Rockwell';
	text-shadow: 4px 4px #0f0d0d;
	font-size: 18px;
}

.navbar-items {
	color: rgb(230, 230, 230) !important;
}

body {
	font-family: rockwell;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
	margin-top: 4%;
	color: rgb(79, 79, 79);
	background: repeating-linear-gradient(to right, rgb(227, 226, 226) 0px, rgb(227, 226, 226) 20px, rgb(210, 210, 210) 20px, rgb(210, 210, 210) 40px);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    background-color: white;
    padding: 15px;
    min-width: 400px;
	max-width: 600px;
    border-radius: 10px;
}

.high-box {
	line-height: 40px;
}
