.heading {
    font-family: rockwell;
    font-weight: bold;
}

.button {
    text-align: center;
  }

.center {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    background-color: white;
    padding: 20px;
    min-width: 350px;
    border-radius: 10px;
}

body {
    font-family: rockwell;
    color: rgb(79, 79, 79);
    height: 100vh;
    background: repeating-linear-gradient(to right, rgb(174, 174, 174) 0px, rgb(174, 174, 174) 20px, rgb(191, 191, 191) 20px, rgb(191, 191, 191) 40px);
}